# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Dependencias/builds
node_modules/
target/
dist/
graphify-out/

# Plataformas (regenerados por `flutter create .`)
# Remova estas linhas se quiser versionar as pastas de plataforma
# android/
# ios/

# IDE
.idea/
*.iml
.vscode/

# Ambiente
*.env
